.p_item {
  position: relative;
  overflow: hidden;
}
.p_item h5,
.p_item h6 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}
.p_item .product_item_link {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 800;
  font-weight: bold;
  text-decoration: none;
  color: #c06d00;
}
.p_item .hoverContainer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 0.5rem;
}
.p_item .hoverContainer {
  position: absolute;
  height: auto;
  left: -10px;
  visibility: hidden;
  width: 70px;
  background-color: #ffffff;
  transition: left 0.5s ease-in-out;
}
.p_item:hover > .hoverContainer {
  visibility: visible;
  left: 0;
}
