.notfound .modalnotfound {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.notfound .modalnotfound .notfoundContainer {
  max-width: 900px;
  height: 400px;
  padding: 50px;
  background-color: #d6d2cb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  margin: 50px auto;
}
.notfound .modalShown {
  display: block;
}
.notfound .modalHidden {
  display: none;
}
