.Kid {
  margin-top: 1px;
}
.Kid .landing-container .landing-img-container {
  width: 100%;
  height: 80vh;
  background-image: url("img/pro-3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.Kid .landing-container .landing-img-container {
  position: relative;
}
.Kid .landing-container .landing-img-container h2 {
  position: absolute;
  top: 50%;
  left: 50px;
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: saddlebrown;
}
